#table-container {
	height: 510px;
	width: 510px;
	border: 1px solid gray;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.cell {
	height: 100px;
	width: 100px;
	border: 1px solid yellow;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boto {
	border: 1px solid blue;
	border-radius: 50%;
	height: 72px;
	width: 72px;
	position: absolute;
	background-image: url('../images/boto_one.png');
	background-size: cover;
	background-position: center;
}

#compass {
	height: 180px;
	width: 180px;
	border: 1px solid gray;
	border-radius: 50%;
	background-image: url('../images/compass_one.png');
	background-size: contain; 
	background-position: center;
}

#compass > div{
	height: 60px;
	width: 100%;
	display: flex;

}
.compass-top, .compass-bottom {
	justify-content: center;
	
}
.compass-bottom {
	align-items: flex-end;
}

.compass-mid {
	justify-content: space-between;
	align-items: center;
}

#compass span{
	height: 45px;
	width: 45px;
	border-radius: 50%;
	text-align: center;
	vertical-align: center;

}

.view {
	height: 100vh;
	width: 100vw;
	display: flex;
}

#north.active {
	border-top: 3px solid red;
}

#east.active {
	border-right: 3px solid red;
}

#south.active {
	border-bottom: 3px solid red;
}

#west.active {
	border-left: 3px solid red;
}


